.site-footer {
  .block__title {
    font-family: Playfair Display;
    font-size: 38px;
    line-height: 1.8em;
    color: #0d0d0d;
  }
  .webform-submission-form {
    width: 50%;
    margin: 0 auto;
  }
}
