$h1: '.heading--h1, h1';
$h2: '.heading--h2, h2';
$h3: '.heading--h3, h3';
$h4: '.heading--h4, h4';
$h5: '.heading--h5, h5';
$h6: '.heading--h6, h6';
#{$h1},
#{$h2},
#{$h3},
#{$h4},
#{$h5},
#{$h6} {
  font-family: $font-default;
  margin-top: 0;
}
#{$h1} {
  font-size: $font-size-xl;
  @include mq($tablet-sm) {
    font-size: $font-size-xl;
  }
}

#{$h3} {
  font-size: 15px;
  font-weight: 200;
  text-align: center;
  line-height: 1.6em;
  font-family: $font-default;
}

//.node--sidebar-teaser #{$h3} {
//  text-align: left;
//  margin-bottom: 0;
//  font-family: $font-default;
//}

.node__title {
  text-align: center;
  font-family: Playfair Display;
}
